* {
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    cursor: crosshair;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 950px;
    font-family: 'ubuntu', sans-serif;
}

.box {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    user-select: none;
    width: 100%;
    
}

#hidden {

    display: none;
    position: fixed;
    bottom: 10%;
    font-size: 1.5em;
    user-select: none;


}